<div class="col-xl-4 d-flex justify-content-center align-items-center">
  <div class="card">
    <div class="card-header">
      <img src="{{ product.image }}" class="card-img-top" alt="..." />
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ product.title }}</h5>
      <p class="card-text">
        {{ product.description }}
      </p>
    </div>
    <div class="card-footer d-flex justify-content-between align-items-center">
      <a class="btn btn-primary hvr-grow-rotate d-inline">Купить</a>
      <span class="d-inline">Цена: {{ product.price | rubleCurrency }}</span>
    </div>
  </div>
</div>
