.ui-widget {
  max-width: 856px;
  margin: 0 auto;
}
.ui-accordion .ui-accordion-content {
  border: 0;
}
.ui-state-active,
.ui-state-default {
  background: linear-gradient(360deg, #076bff 0%, #007bff 100%);
  border-radius: 10px;
  color: white;
}
.ui-accordion .ui-accordion-header {
  margin-bottom: 10px;
  padding: 1em;
}

.accordion .ui-accordion-header {
  position: relative;
}
.accordion .ui-accordion-header-icon {
  content: '';
  position: absolute;
  top: 19px;
  right: 19px;
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url('/images/Vector_down.png') 50% 50% no-repeat;
  color: white;
}
.accordion .ui-accordion-header-active .ui-accordion-header-icon {
  background-image: url('/images/Vector_up.png');
}
